<div class="container">
    <span class="title">Catalogue</span>
    <div class="list-scroll-container">
        <div class="list" *ngIf="(userSubjects$ | async) as userSubjects">
            <ng-container *ngFor="let subjectWithTeacher of userSubjects">
                <div class="list-items" 
                *ngIf="subjectWithTeacher" 
                (click)="openSubjectDetails(subjectWithTeacher)">
                    <span class="list-items-content">
                        {{subjectWithTeacher.subject.subjectName}}
                    </span>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="back-button" (click)="back()">
        <i class="bi bi-chevron-left"></i>
    </div>
</div>

<ng-template let-subject="subject" #studentSubjectsTemplate>
    
</ng-template>
