<div class="container">
    <div class="title">Teacher can teach</div>
    <div class="input">
        <i class="bi bi-journal-bookmark-fill"></i>
        <div class="input-container">
            <ng-select
            class="teacher-subjects"
            [items]="subjects$ | async"
            bindLabel="subjectName"
            [multiple]="true"
            [(ngModel)]="canTeachSelected"
            [hideSelected]="true"
            ></ng-select>
        </div>
    </div>
    <div class="buttons">
        <button class="save" type="submit" (click)="saveSubjects(canTeachSelected)">Save</button>
        <span class="cancel" (click)="matDialogRef.close()">Cancel</span>
    </div>
</div>
