<div class="container">
    <div class="dialog-title">{{data.className}}</div>
    <div class="scroll-container">
        <div class="list">
            <div class="list-items" 
            *ngFor="let student of (studentList$ | async)"
            (click)="openSubjectDetails({subject: data.subject,student,classId: data.classId})">
                <span class="list-items-content">
                    {{student.lastName}} {{student.firstName}}
                </span>
            </div>
        </div>
    </div>
    <span class="cancel" (click)="matDialogRef.close()">Cancel</span>
</div>
