<div class="container" *ngIf="classDoc$ | async as classDoc">
    <div class="titles">
        <span class="title">{{classDoc.name}}</span>
        <span class="subtitle">{{classDoc.profile.name}}</span>
        <span class="subtitle">{{classDoc.headMaster.lastName}} {{classDoc.headMaster.firstName}}</span>
    </div>
    <div class="students-list" [ngClass]="{'students-list-collapsed': expanded !== 'students-list'}">
        <div class="input">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="search by name" (input)="onSearchChange($event, 'student')">
        </div>
        <div class="names">
            <span *ngFor="let student of classDoc.students | searchFilter: query | azOrder:'lastName'">{{student.lastName}} {{student.firstName}}</span>
        </div>
        <div class="buttons">
            <div class="button button-add-class" (click)="addStudent(classDoc)" [ngClass]="{'button-add-class-active': expand === 'addStudent'}">
                <i class="bi bi-plus-lg"></i>
                <span class="button-add-class-text">Add students</span>
            </div>
            <div class="button button-add-class" (click)="removeStudent(classDoc)" [ngClass]="{'button-add-class-active': expand === 'removeStudent'}">
                <i class="bi bi-dash-lg"></i>
                <span class="button-add-class-text">Remove students</span>
            </div>
        </div>
        <div class="students-list-collapsed-title" [ngClass]="{'students-list-collapsed-title-expanded': expanded === 'students-list'}" (click)="expanded = 'students-list'">Students list</div>
    </div>
    
    <div class="students-list" [ngClass]="{'students-list-collapsed': expanded !== 'subjects-list'}">
        <div class="input">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="search by name" (input)="onSearchChange($event,'subject')">
        </div>
        <div class="names">
            <span *ngFor="let subject of classDoc.subjects | searchFilter: querySubject">{{subject.subject.subjectName}}</span>
        </div>
        <div class="buttons">
            <div class="button button-add-class" (click)="addSubject(classDoc)" [ngClass]="{'button-add-class-active': expand === 'addSubject'}">
                <i class="bi bi-plus-lg"></i>
                <span class="button-add-class-text">Add subject</span>
            </div>
            <div class="button button-add-class" (click)="removeSubjects(classDoc)" [ngClass]="{'button-add-class-active': expand === 'removeSubject'}">
                <i class="bi bi-dash-lg"></i>
                <span class="button-add-class-text">Remove subjects</span>
            </div>
        </div>
        <div class="students-list-collapsed-title" [ngClass]="{'students-list-collapsed-title-expanded': expanded === 'subjects-list'}" (click)="expanded = 'subjects-list'">Subjects list</div>
    </div>
    <div class="buttons">
        <div class="button button-back" (click)="navS.back()">
            <i class="bi bi-chevron-left"></i>
        </div>
        <div
            *ngIf="(userId$ | async) === classDoc.headMaster.userId"
            class="button button-add-class" 
            (click)="promoteClass()" 
            [ngClass]="{'button-add-class-active': canPromote}">
            <i class="bi bi-lock"></i>
            <span class="button-add-class-text">Promote</span>
        </div>
    </div>
</div>
