<div class="container">
    <span class="title">Catalogue</span>
    <div class="list-scroll-container">
        <div class="list" *ngIf="(teacherClasses$ | async) as classes">
            <ng-container *ngIf="(headMasterClass$ | async) as classDoc">
                <div class="list-items" 
                (click)="showMaster = !showMaster">
                    <span class="list-items-content">
                        {{classDoc.name}} Master
                    </span>
                </div>
                <div class="list-items-expandable" [ngClass]="{'list-items-expandable-show': showMaster}">
                    <span class="class-subject" 
                    *ngFor="let class of classDoc.subjects" 
                    (click)="openStudentsList({className: class.name,classId: class.classId, subject: class.subject, isMaster: true})">
                        {{class.subject.subjectName}}
                    </span>
                </div>
            </ng-container>
            <ng-container *ngFor="let class of classes | keyvalue; let i = index;">
                <div class="list-items" 
                *ngIf="class"
                (click)="toggleExpandable(i)">
                    <span class="list-items-content">
                        {{class.key}}
                    </span>
                </div>
                <div class="list-items-expandable" [ngClass]="{'list-items-expandable-show': show === i}">
                    <span class="class-subject" 
                    *ngFor="let class of class.value" 
                    (click)="openStudentsList({className: class.name,classId: class.classId, subject: class.subject, isMaster: false})">
                        {{class.subject.subjectName}}
                    </span>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="back-button" (click)="back()">
        <i class="bi bi-chevron-left"></i>
    </div>
</div>