<div class="container">
    <div class="logo">
        <app-logo [size]="'l'" [text]="true"></app-logo>
    </div>
        <div class="form">
            <div class="inputs">
                <div class="input">
                    <img src="assets/icons/profile.svg">
                    <input type="text" placeholder="enter your email">
                </div>
                <div class="input">
                    <img src="assets/icons/lock.svg">
                    <input type="password" placeholder="enter your password">
                </div>
            </div>
            <button class="submit" type="submit">Sign In</button>
            <span class="forgot">Forgot password?</span>
        </div>
</div>
