<div class="container">
    <div class="logo">
        <app-logo [size]="'l'" [text]="true"></app-logo>
    </div>
        <div class="form">
            <div class="inputs">
                <div class="input">
                    <img src="assets/icons/profile.svg">
                    <input type="text" placeholder="enter your email" #userEmail>
                </div>
                <div class="input">
                    <img src="assets/icons/lock.svg">
                    <input type="password" placeholder="enter your password" #userPassword>
                </div>
            </div>
            <button class="submit" type="submit" (click)="authService.signIn(userEmail.value, userPassword.value)">Sign In</button>
            <span class="forgot" (click)="forgotPassword()">Forgot password?</span>
        </div>
</div>
