<div class="container">
    <div class="title">Add Grade</div>
    <div class="inputs">
        <div class="grade">
            <i class="bi bi-dash-circle-fill" (click)="minusGrade()"></i>
            <div class="value" (click)="displayOptions = !displayOptions">
                {{data.grade}}
                <div class="options" *ngIf="displayOptions">
                    <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]" (click)="data.grade = item">{{item}}</div>
                </div>
            </div>
            <i class="bi bi-plus-circle-fill" (click)="plusGrade()"></i>
        </div>
        <span class="click-note">click on number to select grade</span>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput 
            [matDatepicker]="picker" 
            readonly 
            [value]="gradeDate" 
            (dateChange)="dateChangeHandler($event.value)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <ng-container *ngIf="canAddSemester">
            <div class="grade-type-toggle" (click)="switchGradeType()" *ngIf="(gradeType$ | async) as gradeType">
                <span class="thumb" [ngClass]="{'thumb-periodal': gradeType === 'periodal'}"></span>
                <div class="types">
                    <span class="type">general</span>
                    <span class="type">periodal</span>
                </div>
            </div>
            <span class="click-note">grade type</span>
        </ng-container>
    </div>
    <div class="buttons">
        <div class="edit-save">
            <span class="save" (click)="save()"><i class="bi bi-plus-circle-fill"></i> Add</span>
        </div>
        <span class="cancel" (click)="matDialogRef.close()">Cancel</span>
    </div>
</div>
