<div class="container">
    <div class="title">Edit Grade</div>
    <div class="inputs">
        <div class="grade">
            <i class="bi bi-dash-circle-fill" (click)="minusGrade()"></i>
            <div class="value">{{data.value}}</div>
            <i class="bi bi-plus-circle-fill" (click)="plusGrade()"></i>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput 
            [matDatepicker]="picker" 
            readonly 
            [value]="convertedDate" 
            (dateChange)="dateChangeHandler($event.value)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="buttons">
        <div class="edit-save">
            <span class="delete"><i class="bi bi-trash-fill"></i> Delete</span>
            <span class="save" (click)="save()"><i class="bi bi-save-fill"></i> Save</span>
        </div>
        <span class="cancel" (click)="matDialogRef.close()">Cancel</span>
    </div>
</div>
