@mixin DefaultDialog() {
    mat-dialog-container {
        background: #efefef;
        background: linear-gradient(135deg, rgb(209 209 209 / 40%) 0%, rgb(255 255 255 / 5%) 100%);
        box-shadow: inset 1px 1px 5px 0px rgb(0 0 0 / 16%);
        border-radius: 1.25em;
        -webkit-backdrop-filter: blur(20px) brightness(1.5);
        backdrop-filter: brightness(2) drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.53)) blur(10px);
        width: 90vw;
        max-width: 25em;
    }
    &-backdrop {
        background: #00000063;
    }
}

.forgot-password {
    @include DefaultDialog();
}
