@import '../../../../../theme/backgrounds.scss';
@import '../../../../../theme/customs.scss';
.container {
    @include DefaultContainerStyle();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    gap: 3em;
    .title {
        width: 80%;
        max-width: 19em;
        @include whiteTitle(2em,700);
    }
    .user-type-toggle {
        width: 80%;
        height: 3em;
        margin: 0 auto;
        position: relative;
        @include BlackBlurredBackground();
        backdrop-filter: none;
        background: linear-gradient(135deg, rgb(0 0 0 / 18%) 0%, rgb(0 0 0 / 6%) 100%);
        flex-shrink: 0;
        .types {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            .type {
                flex: 1;
                text-align: center;
                color: #444;
            }
        }
        .thumb {
            text-transform: capitalize;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 25%;
            height: 80%;
            width: 45%;

            background: #787878;
            background: linear-gradient(135deg, rgb(255 255 255) 0%, rgb(245 245 245 / 85%) 100%);
            mix-blend-mode: screen;
            box-shadow: inset -2px -2px 5px 0px rgb(0 0 0 / 16%);

            border-radius: 1em;
            transition: left 0.4s cubic-bezier(0.4, 0, 1, 1);
            z-index: 1;
            &-student {
                left: 75%;
            }
        }
    }
    .inputs {
        width: 80%;
        max-width: 20em;
        height: 65vh;
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        gap: 1.5em;
        overflow-y: auto;
        .input-title {
            text-align: center;
            color: white;
            transform: translateY(1em);
        }
        .input {
            width: 100%;
            display: flex;
            padding: 0.8em 1.1em;
            align-items: center;
            justify-content: flex-start;
            gap: .1em;
            @include BlackBlurredBackground();
            backdrop-filter: none;
            background: linear-gradient(135deg, rgb(0 0 0 / 18%) 0%, rgb(0 0 0 / 6%) 100%);
            color: white;
            i {
                font-size: 1.6em;
                text-shadow: 0px 0px 0.2em rgb(0 0 0 / 40%);
            }
            &-container {
                position: relative;
                padding: 0.6em 0.5em 0.3em 0.5em;
                flex: 1;
                &-active {
                    .input-container-placeholder {
                        font-size: 0.7em;
                        bottom: 2.2em;
                        left: 0.9em;
                    }
                    input {
                        transform: translateY(0.3em);
                    }
                }
                &-placeholder {
                    position: absolute;
                    opacity: 0.8;
                    bottom: 0.3em;
                    left: 0.78em;
                    transition: all 0.3s ease-in-out;
                    pointer-events: none;
                }
                input {
                    background: transparent;
                    border: none;
                    color: white;
                    transition: all 0.1s ease-in-out;
                    position: relative;
                    &::placeholder {
                        color: white;
                        font-weight: 200;
                        font-size: 1.1em;
                    }
                    &:focus {
                        outline: none;
                    }
                    &::-webkit-calendar-picker-indicator {
                        content: 'down';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                }
            }
        }
        .error-message {
            font-size: 0.8em;
            text-align: center;
        }
        .autoexpand { flex: 1; }
        .save {
            width: 70%;
            margin: 0 auto;
            background: #787878;
            background: linear-gradient(135deg, rgb(255 255 255) 0%, rgb(245 245 245 / 65%) 100%);
            box-shadow: inset 2px 3px 5px 0px rgb(0 0 0 / 16%);
            border-radius: 1.25em;
            padding: 0.8em 1.8em;
            color: black;
            font-size: 1.2em;
            font-weight: 400;
            border: none;
            border-radius: 0.75em;
            mix-blend-mode: screen;
            text-shadow: 1px 1px 3px rgb(0 0 0 / 22%);
            &:active {
                box-shadow: inset -2px -2px 5px 0px rgb(0 0 0 / 16%);
            }
            &-disabled {
                background: linear-gradient(135deg, #797979 0%, rgb(32 32 32 / 65%) 100%);
                color: white;
            }
        }
    }
    .buttons {
        display: flex;
        gap: 1.5em;
        margin-top: 1em;
        .button {
            width: 4em;
            height: 4em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
    
            @include BlackBlurredBackground();
            color: white;
            transition: width 0.4s cubic-bezier(0.4, 0, 1, 1);
            i {
                font-size: 2em;
                &::before {
                    font-weight: bold !important;
                }
            }
            &-add-class {
                position: relative;
                background: #787878;
                background: linear-gradient(135deg, rgb(255 255 255) 0%, rgb(245 245 245 / 65%) 100%);
                box-shadow: inset 2px 3px 5px 0px rgb(0 0 0 / 16%);
                color: black;
                font-weight: 400;
                border: none;
                mix-blend-mode: screen;
                text-shadow: 1px 1px 3px rgb(0 0 0 / 22%);
                &:active {
                    box-shadow: inset -2px -2px 5px 0px rgb(0 0 0 / 16%);
                }
                i {
                    position: absolute;
                    transform: translate(-50%,-50%);
                    top: 50%;
                    left: 50%;
                    transition: left .4s cubic-bezier(0.4, 0, 1, 1);
                }
                &-text {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    font-size: 1.2em;
                }
            }

            &-add-class-active {
                width: 10em;
                gap: 1em;
                i {
                    left: 25%;
                }
                .button-add-class-text {
                    left: 60%;
                    opacity: 1;
                    width: 4em;
                    text-align: center;
                    transition: all .4s .2s cubic-bezier(0.4, 0, 1, 1);
                }
            }
        }
    }
}