<div class="container">
    <div class="title">Add new class</div>
    <form class="inputs" [formGroup]="classForm" (ngSubmit)="onFormSubmit()">
            <div class="input">
                <i class="bi bi-type"></i>
                <div class="input-container" [ngClass]="{'input-container-active': promotionYear?.value}">
                    <span class="input-container-placeholder">promotion year</span>
                    <input type="number" [maxlength]="4" formControlName="promotionYear" required>
                </div>
            </div>
            <span *ngIf="promotionYear && promotionYear.invalid && promotionYear.touched" class="error-message">Required number is between {{thisYear}} and {{thisYear + 4}}!</span>
            
            <div class="input">
                <i class="bi bi-type"></i>
                <div class="input-container" [ngClass]="{'input-container-active': grade?.value}">
                    <span class="input-container-placeholder">grade</span>
                    <input type="text" formControlName="grade" required>
                </div>
            </div>
            <span *ngIf="grade && grade.invalid && grade.touched" class="error-message">Required number is between 9 and 12.</span>
            
            <ng-container *ngIf="profile">
                <div class="input">
                    <i class="bi bi-at"></i>
                    <div class="input-container" [ngClass]="{'input-container-active': (profile.invalid && !profile.touched) || profile.value}">
                        <span class="input-container-placeholder">profile</span>
                        <select formControlName="profile" def>
                            <option [ngValue]="" disabled selected>Choose a profile</option>
                            <option *ngFor="let prof of profiles" [ngValue]="prof">
                            {{ prof.id }} - {{ prof.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <span *ngIf="profile.invalid && profile.touched" class="error-message">You need to select a profile!</span>
            </ng-container>
            
            <ng-container *ngIf="headMaster">
                <div class="input">
                    <i class="bi bi-at"></i>
                    <div class="input-container" [ngClass]="{'input-container-active': (headMaster.invalid && !headMaster.touched) || headMaster.value}">
                        <span class="input-container-placeholder">head master</span>
                        <select formControlName="headMaster" def>
                            <option [ngValue]="" disabled selected>Choose a headmaster</option>
                            <option *ngFor="let hm of (nonHeadMasters$ | async)" [ngValue]="hm">
                            {{ hm.lastName }} {{ hm.firstName }}
                            </option>
                        </select>
                    </div>
                </div>
                <span *ngIf="headMaster.invalid && headMaster.touched" class="error-message">You need to select a headmaster!</span>
            </ng-container>
            
            <div class="autoexpand"></div>
            <button class="reset" type="submit">Add class</button>
    </form>
    <div class="buttons">
        <span class="cancel" (click)="matDialogRef.close()">Cancel</span>
    </div>
</div>
