@import '../../theme/customs.scss';
@import '../../theme/backgrounds.scss';
.container {
    @include DefaultContainerStyle();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    gap: 2em;
    .pic-name {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        .image {
            width: 10em;
            height: 10em;
            background-image: url('/assets/images/profile/default_avatar.png');
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
        }
        .change-pic {
            position: absolute;
            right: 0.5em;
            bottom: 0.5em;
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            @include BlackBlurredBackground();
            backdrop-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.53)) blur(5px);
            &-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                position: relative;
                input {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                i {
                    font-size: 1.3em;
                    color: white;
                }
            }
        }
        .name {
            color: white;
            font-size: 2em;
            font-weight: 700;
            text-align: center;
        }
    }
    .details-container {
        max-height: 41vh;
        width: 80%;
        padding: 0 0.3em;
        @include customScroll();
        max-width: 20em;
        .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            width: 100%;
            &-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 0.5em;
                color: white;
                .header {
                    font-size: 1.3em;
                    font-weight: 700;
                }
                .text {
                    font-size: 1em;
                    font-weight: 300;
                }
            }
        }
    }
    .buttons {
        display: flex;
        gap: 1.5em;
        .button {
            width: 4em;
            height: 4em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
    
            @include BlackBlurredBackground();
            color: white;
            transition: width 0.4s cubic-bezier(0.4, 0, 1, 1);
            i {
                font-size: 2em;
                &::before {
                    font-weight: bold !important;
                }
            }
            &-logout {
                position: relative;
                i {
                    position: absolute;
                    transform: translate(-50%,-50%);
                    top: 50%;
                    left: 50%;
                    transition: left .4s cubic-bezier(0.4, 0, 1, 1);
                }
                &-text {
                    position: absolute;
                    opacity: 0;
                    width: 0;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                }
            }

            &-logout-active {
                width: 10em;
                gap: 1em;
                i {
                    left: 25%;
                }
                .button-logout-text {
                    left: 60%;
                    opacity: 1;
                    width: 4em;
                    text-align: center;
                    transition: all .4s .2s cubic-bezier(0.4, 0, 1, 1);
                }
            }
        }
    }
}