@import '~normalize.css';
@import url('./theme/all-custom.scss');
body {
    background-image: url('./assets/images/bg_portrait.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
