<div class="container">
    <span class="welcome-text">hi <span class="name">john</span>!</span>
    <div class="menu">
        <div class="menu-items">
            <div class="menu-items-content">
                <i class="bi bi-journals"></i>
                <span>catalogue</span>
            </div>
        </div>
        <div class="menu-items">
            <div class="menu-items-content">
                <i class="bi bi-clock"></i>
                <span>timetable</span>
            </div>
        </div>
        <div class="menu-items">
            <div class="menu-items-content">
                <i class="bi bi-book"></i>
                <span>library</span>
            </div>
        </div>
        <div class="menu-items">
            <div class="menu-items-content">
                <i class="bi bi-newspaper"></i>
                <span>news</span>
            </div>
        </div>
        <div class="menu-items" (click)="navigateToLogin()">
            <div class="menu-items-content">
                <i class="bi bi-person-circle"></i>
                <span>profile</span>
            </div>
        </div>
        <div class="menu-items">
            <div class="menu-items-content">
                <i class="bi bi-telephone"></i>
                <span>contact</span>
            </div>
        </div>
    </div>
    <span class="next-class">Your next class is Geography!</span>
</div>
