<div class="container">
    <div class="dialog-title">{{data.student.lastName}} {{data.student.firstName}}</div>
    <div class="scroll-container">
        <div class="tables" *ngIf="(gradesAbsences$ | async) as gradesAbsences">
            <div class="tables-item tables-item-grades">
                <span class="title">grades</span>
                <div class="table-container" [ngClass]="{'table-container-master': data.isMaster}">
                    <div class="first-row">Grade</div>
                    <div class="first-row">Date</div>
                    <div class="first-row" *ngIf="!data.isMaster">Edit</div>
    
                    <ng-container *ngFor="let grade of gradesAbsences.grades">
                        <div class="data">{{grade.grade}}</div>
                        <div class="data">{{formatDate(grade.date)}}</div>
                        <div *ngIf="!data.isMaster" class="data data-edit" (click)="editGrade(grade)"><i class="bi bi-pencil-fill"></i></div>
                    </ng-container>
                </div>
                <ng-container *ngIf="gradesAbsences.semesterGrade as semGrade">
                    <span class="notes" >Semester test: {{semGrade.grade}}  <i class="bi bi-pencil-fill" (click)="editGrade(semGrade)"></i></span>
                    <span class="notes">Final grade: {{finalGrade(gradesAbsences.grades,semGrade)}}</span>
                </ng-container>

                <span class="button" (click)="addGrade(gradesAbsences.semesterGrade === undefined)"><i class="bi bi-plus-circle-fill"></i> Add</span>
            </div>
            <div class="tables-item tables-item-absences">
                <span class="title">absences</span>
                <div class="table-container">
                    <div class="first-row">Date</div>
                    <div class="first-row">Proven</div>
                    <div class="first-row">Edit</div>
    
                    <ng-container *ngFor="let absence of gradesAbsences.absences">
                        <div class="data">{{formatDate(absence.date)}}</div>
                        <div class="data" *ngIf="absence.proven else notProven">
                            <i class="bi bi-check-circle-fill"></i> Yes
                        </div>
                        <div class="data data-edit" (click)="editAbsence(absence)"><i class="bi bi-pencil-fill"></i></div>
                    </ng-container>
                </div>
                <span class="notes">Total absences: {{totalAbsences(gradesAbsences.absences)}}</span>
                <span class="button" (click)="addAbsence()"><i class="bi bi-plus-circle-fill"></i> Add</span>
            </div>
        </div>
    </div>
    <div class="buttons-container">
        <span class="cancel" (click)="matDialogRef.close()">Cancel</span>
    </div>
</div>

<ng-template #notProven>
    <div class="data">
        <i class="bi bi-x-circle-fill"></i> No
    </div>
</ng-template>